extends layout

block content
  h1= title
  p Welcome to Author
  a(href="/users/new")!= "Add New Author"
  #Daftar Author
   table
    thead
     tr 
      th Firstname
      th Address
    tbody
    each row in data
        tr 
         td= row.name 
         td= row.address
         td
            a(href="/users/view/"+row.id)!= "View"